# top level pdfs
/*.pdf

# latex logfiles or temporary files
**.log
**.aux
**.dvi
**.out
**eps-converted-to.pdf

# vim swapfiles
**.swp
**.swo

# incomplete exercises
ex03/ex03.pdf
ex04/ex04.pdf
ex05/ex05.pdf
ex06/ex06.pdf
ex08/ex08.pdf
ex09/ex09.pdf
ex10/ex10.pdf
ex11/ex11.pdf

# latex plugin temporary files
*/_minted*
